<template>

</template>

<script>
export default {
    name: "Subscribe",
    props: ['user'],
    mounted() {
        this.subscribeArticles()
        this.subscribeProducts()
    },
    methods: {
        subscribeArticles() {
            if (this.user.is_partner || this.user.subscribe_articles) {
                Echo
                    .channel('articles')
                    .listen('.NewArticleAdded', (e) => {
                        toastr.info('New article added!')
                    })
            }
        },
        subscribeProducts() {
            if (this.user.is_partner || this.user.subscribe_products) {
                Echo
                    .channel('products')
                    .listen('.NewProductAdded', (e) => {
                        toastr.info('New product added!')
                    })
            }
        },
    }
}
</script>

<style scoped>

</style>
